<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Agregar aeronave</title>
</head>
<body class="bg-gray-100">
    <header>
        <nav style="background-color: #538fca" class="h-20 pt-1">
          <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
              <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
              </div>
              <div
                class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
              >
                <div class="flex flex-shrink-0 items-center">
                  <img
                    class="pt-2 h-20 w-auto"
                    src="../static/jack.svg"
                    alt="Your Company"
                  />
                </div>
                <div class="hidden sm:ml-6 sm:block py-6">
                  <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
  
                    <a
                      href="/"
                      class="text-black hover:bg-gray-300 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
                      >Inicio</a
                    >
                    <a
                      href="/add_aircraft"
                      class="text-black hover:bg-gray-300 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
                      >Cargar Aeronave</a
                    >
                    <a
                      href="/consulta"
                      class="text-black hover:bg-gray-300 hover:text-white rounded-md px-3 py-2 text-lg font-medium"
                      >Consulta</a
                    >
                  </div>
                </div>
              </div>
              <div
                class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto m:ml-6 sm:pr-0"
              >
                <!-- Profile dropdown -->
                <div class="relative ml-3">
                  <div>
                    <button
                      type="button"
                      class="text-gray-500 hover:bg-gray-700 hover:text-white rounded-md px- py-2 text-sm font-medium"
                      id="user-menu-button"
                      aria-expanded="false"
                      aria-haspopup="true"
                    >
                      <!-- <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">Open user menu</span> -->
                      <a
                        href="/logout"
                        class="bg-gray-700 text-white rounded-md px-3 py-2 text-lg font-medium"
                        aria-current="page"
                        >Logout</a
                      >
                    </button>
                  </div>
  
                  <!--
                        Dropdown menu, show/hide based on menu state.
            
                        Entering: "transition ease-out duration-100"
                          From: "transform opacity-0 scale-95"
                          To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                          From: "transform opacity-100 scale-100"
                          To: "transform opacity-0 scale-95"
                      -->
                </div>
              </div>
            </div>
          </div>
  
          <!-- Mobile menu, show/hide based on menu state. -->
          <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a
                href="/"
                class="bg-gray-500 text-white block rounded-md px-3 py-2 text-base font-medium"
                aria-current="page"
                >Inicio</a
              >
              <a
                href="/add_aircraft"
                class="text-gray-500 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                >Carga de Aeronave</a
              >
              <a
                href="/consulta"
                class="text-gray-500 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
                >Consulta</a
              >
            </div>
          </div>
        </nav>
      </header>
      <section  style="
      background-color: white;
      background-image: url('../static/jack.svg');
      background-repeat: no-repeat;
      background-position: center; height: 100vh;
      background-size: 500px;
      background-attachment: fixed;
    ">
    <main class="container mx-auto py-10 px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-3">
            <div class="px-4 sm:px-0">
                <h2 class="text-base font-semibold leading-7 text-gray-900">Agregar aeronave</h2>
                <p class="mt-1 text-sm leading-6 text-gray-600">Por favor coloque el nombre de la aeronave.</p>
            </div>

            <form action="{{ url_for('add_aircraft') }}" method="POST" class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2">
                <div class="px-4 py-6 sm:p-8">
                    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                        <div class="sm:col-span-6">
                            <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Aeronave</label>
                            <div class="mt-2">
                                <input type="text" id="name" name="name" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
                    <a href="{{ url_for('index') }}" class="text-sm font-semibold leading-6 text-gray-900">Volver a la lista de aeronaves</a>
                    <button type="submit" class="rounded-md bg-gray-700 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Agregar Aeronave</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
