<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <title>Aeronaves</title>
    </head>
<body>
    <header>
        <a href="{{url_for('logout')}}">Press here to logout</a>
    </header>
    <h1>Aircraft List</h1>
    <ul>
        {% for aircraft in aircrafts %} 
            <li>
                <a href="{{ url_for('view_aircraft', aircraft_id=aircraft.id) }}">{{ aircraft.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_aircraft') }}">Add New Aircraft</a>
</body>
</html>


