<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        // ...
        plugins: [
          // ...
          require('@tailwindcss/forms'),
        ],
      };
    </script>
    <title>Login</title>
  </head>

  <body>
    <div class="flex flex-row mt-32 justify-center items-center min-h-full"></div>
      <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm lg:w-96">
          <div>
            <img src="../static/jack.svg" alt="Your Company" class="h-[20svh] mx-auto">
            <h2 class="mt-8 text-2xl text-center font-bold leading-9 tracking-tight text-gray-900">Ingrese a su cuenta</h2>
          </div>

          <div class="mt-10">
            <div>
              <!-- FORM DE CORREO -->
              <form action="#" method="POST" class="space-y-6">
                {{ form.hidden_tag() }}
                <div>
                  <label for="username" class="block text-sm font-medium leading-6 text-gray-900">
                    Usuario
                  </label>
                  <div class="mt-2">
                    {{ form.username(class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 p-2 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6") }}
                  </div>
                </div>

                <div>
                  <label for="password" class="block text-sm font-medium leading-6 text-gray-900">
                    Password
                  </label>
                  <div class="mt-2">
                    {{ form.password(class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 p-2 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6") }}
                  </div>
                </div>

                <div class="flex items-center justify-between">
                  <div class="flex items-center">
                    <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="remember-me" class="ml-3 block text-sm leading-6 text-gray-700">Remember me</label>
                  </div>

                  <div class="text-sm leading-6">
                    <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                  </div>
                </div>

                <div>
                  {{ form.submit(class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600") }}
                </div>
              </form>
            </div>

            <div class="mt-10">
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-200"></div>
                </div>
                <div class="relative flex justify-center text-sm font-medium leading-6">
                  <span class="bg-white px-6 text-gray-900">
                    <a href="{{ url_for('register') }}">Aun no tiene cuenta? Registrarse</a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative hidden w-0 flex-1 lg:block">
      </div>
    </div>
   <!-- VIEJO -->
    <!-- <h1>Login</h1>
    <form action="" method="POST">
      {{ form.hidden_tag() }}
      <p>
        {{ form.username.label }}<br />
        {{ form.username(size=32) }}
      </p>
      <p>
        {{ form.password.label }}<br />
        {{ form.password(size=32) }}
      </p>
      <p>{{ form.submit() }}</p>
    </form> -->